.crypto-currency-item {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  border: 1px solid darkgray;
  padding: 20px;
  border-radius: 4px;
  margin-bottom: 20px;
  position: relative; }
  .crypto-currency-item:last-child {
    margin-bottom: 0px; }
  .crypto-currency-item:nth-child(even) {
    background-color: gray;
    color: #fff; }
    .crypto-currency-item:nth-child(even) input {
      color: #000; }
  .crypto-currency-item:nth-child(odd) {
    background-color: #fff; }
  .crypto-currency-item a {
    position: absolute;
    z-index: 1;
    left: 7px;
    top: 5px;
    border-radius: 4px;
    font-size: 14px;
    background-color: antiquewhite;
    padding: 2px 13px;
    color: darkgoldenrod;
    font-weight: 500; }
    .crypto-currency-item a:hover {
      color: #fff;
      background-color: #ffd093; }
  .crypto-currency-item .block {
    margin-right: 10px;
    flex: 1; }
    .crypto-currency-item .block.account-value {
      flex: 0 0 210px; }
    .crypto-currency-item .block .title {
      font-weight: 600;
      font-size: 18px;
      line-height: 18px;
      padding-bottom: 10px;
      text-align: center;
      text-align: center; }
    .crypto-currency-item .block .value {
      font-size: 14px;
      font-weight: 550;
      line-height: 14px;
      text-align: center; }
    .crypto-currency-item .block.account {
      flex: 0 0 210px; }
      .crypto-currency-item .block.account input {
        height: 20px;
        line-height: 20px;
        padding: 0 10px;
        border-radius: 4px;
        border: 1px solid #ccc;
        margin-bottom: 3px;
        width: 100%; }
      .crypto-currency-item .block.account button {
        cursor: pointer;
        border-radius: 4px;
        background-color: bisque;
        color: brown;
        border: none;
        width: 100%;
        height: 20px;
        font-size: 14px;
        line-height: 20px; }
        .crypto-currency-item .block.account button:hover {
          background-color: #ffce93; }
      .crypto-currency-item .block.account .disabled {
        cursor: initial;
        background-color: #ccc;
        color: #fff; }
        .crypto-currency-item .block.account .disabled:hover {
          background-color: #ccc;
          color: #fff; }
