.header {
  padding: 20px 30px;
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    height: 50px;
  }

  .project-name {
    font-weight: 600;
    font-size: 35px;
    margin-left: 35px;
  }
}
