.page-loader-bg {
  height: 100%;
  width: 100%;
  position: absolute;
  background: rgba(221, 221, 221, 0.3);
  z-index: 99;

  img {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;
    transform: translate(-50%, -50%);
    height: 80px;
  }
}
