// Global
@import "./style/global/global.scss";
// Components
@import "./style/components/header.scss";
@import "./style/components/crypto_currency_list.scss";
@import "./style/components/crypto_currency_item.scss";
@import "./style/components/pagination.scss";
@import "./style/components/loader.scss";
@import "./style/components/crypto_currency_details.scss";
