body {
  margin: none;
  background-color: azure; }
  body ul {
    margin: 0;
    padding: 0;
    list-style: none; }
  body a {
    color: #000;
    text-decoration: none; }
    body a:hover, body a:focus {
      color: #000;
      text-decoration: none; }

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 30px; }
  .header img {
    height: 50px; }
  .header .project-name {
    font-weight: 600;
    font-size: 35px;
    margin-left: 35px; }

.crypto-currency-list {
  padding: 20px;
  border-radius: 4px;
  border: 1px solid antiquewhite;
  background-color: aliceblue; }

.crypto-currency-item {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  border: 1px solid darkgray;
  padding: 5px;
  border-radius: 4px;
  margin-bottom: 10px; }
  .crypto-currency-item:nth-child(even) {
    background-color: gray;
    color: #fff; }
    .crypto-currency-item:nth-child(even) input {
      color: #000; }
  .crypto-currency-item:nth-child(odd) {
    background-color: #fff; }
  .crypto-currency-item .block {
    margin-right: 10px; }
    .crypto-currency-item .block .title {
      font-weight: 600;
      font-size: 18px;
      line-height: 18px;
      padding-bottom: 10px;
      text-align: center;
      text-align: center; }
    .crypto-currency-item .block .value {
      font-size: 14px;
      font-weight: 550;
      line-height: 14px;
      text-align: center; }
    .crypto-currency-item .block.account input {
      height: 20px;
      line-height: 20px;
      padding: 0 10px;
      border-radius: 4px;
      border: 1px solid #ccc;
      margin-bottom: 3px;
      width: 100%; }
    .crypto-currency-item .block.account button {
      cursor: pointer;
      border-radius: 4px;
      background-color: bisque;
      color: brown;
      border: none;
      width: 100%;
      height: 20px;
      font-size: 14px;
      line-height: 20px; }
      .crypto-currency-item .block.account button:hover {
        background-color: #ffce93; }
    .crypto-currency-item .block.account .disabled {
      cursor: initial;
      background-color: #ccc;
      color: #fff; }
      .crypto-currency-item .block.account .disabled:hover {
        background-color: #ccc;
        color: #fff; }
