body {
  margin: none;
  background-color: azure; }
  body ul {
    margin: 0;
    padding: 0;
    list-style: none; }
  body a {
    color: #000;
    text-decoration: none; }
    body a:hover, body a:focus {
      color: #000;
      text-decoration: none; }

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 30px; }
  .header img {
    height: 50px; }
  .header .project-name {
    font-weight: 600;
    font-size: 35px;
    margin-left: 35px; }

.crypto-currency-list {
  padding: 20px;
  border-radius: 4px;
  border: 1px solid antiquewhite;
  background-color: aliceblue; }
